# Core Stuff
# -------------------------------------
Django==3.2.12

# Models
# -------------------------------------
psycopg2-binary==2.9.3

# REST APIs
# -------------------------------------
djangorestframework==3.13.1

# Auth Stuff
# -------------------------------------
django_google_integrations==0.0.3
